<footer xmlns:th="http://www.thymeleaf.org" class=".font-small" data-th-fragment="footer-info">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4">
                <img th:src="@{/images/logo.png}" style="width:50px;" />
                <hr class="light">
                <p>Email : test.springboot24@gmail.com</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Explore</h5>
                <hr class="light">
                <a style="display: block; color: #d5d5d5; padding-bottom: 10px;" href="/showCampaigns">Explore Campaigns</a>
                <a style="display: block; color: #d5d5d5; padding-bottom: 10px;" href="/startCampaign">Start Campaign</a>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Getting started</h5>
                <hr class="light">
                <a style="display: block; color: #d5d5d5; padding-bottom: 10px;" href="/signup">Sign Up</a>
                <a style="display: block; color: #d5d5d5; padding-bottom: 10px;" href="/login">Login</a>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy; crowdfundingplatform.com</h5>
            </div>
        </div>
    </div>
</footer>
