<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/Layout">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" th:id="contentCampaignDetails">
    <div class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center textBoxCampDetails">
                    <h1 class="font-weight-light" style="color: white"
                        th:text="${'Current product  >>  ' + campaign.title}"></h1>
                    <p class="lead" style="color:white;" th:if="${campaign.story != null}"
                       th:text="${campaign.story}"></p>
                    <p class="lead" style="color:white;">Introduce your product to the world through our platform</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <h2 style="margin-top: 20px; margin-left: 20px;">Campaign Gallery:</h2> -->
    <div class="row" th:id="galleryContainer">
        <div th:each="photoUrl : ${campaign.campaignImages}" class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a th:href="${photoUrl}" class="fancybox" rel="ligthbox">
                <img th:src="${photoUrl}" class="zoom img-fluid " alt="">
            </a>
        </div>
    </div>

    <!-- <h2 style="margin-left: 20px; margin-bottom: 50px;">Campaign Video:</h2> -->
    <div class="embed-responsive embed-responsive-16by9 videoWrapper col-md-6" style="height: 500px; margin:auto;">
       <!-- <iframe width="700" height="500" th:src="@{${campaign.campaignVideo}}" frameborder="0" allowfullscreen></iframe> -->
        <video controls preload="none" class="video">
             <source th:src="${campaign.campaignVideo}" type="video/mp4">
         </video>
        <div class="playpause"></div>
    </div>


    <div class="jumbotron jumbotron-fluid" style="clear:both;">
        <div class="container">
            <h1 class="display-4" style="margin-bottom: 50px;">Campaign Info</h1>

            <div class="col-md-6" style="float:left;">
                <p class="pCampInfo"><span th:text="${'Status: ' + campaign.status}"></span>
                    <!-- creatorul si orice admin pot inchide campania -->
                    <button type="button" th:if="${currentUser != null && canDonate == false || isAdmin == true}" data-toggle="modal"
                            data-target="#closeCampaignModal" style="margin:10px;" class="btn btn-danger"
                            th:disabled="${campaign.status == 'closed'}">Close Campaign
                    </button>
                </p>
                <p class="pCampInfo"><span th:text="${campaign.country + ' ' + campaign.city}"></span></p>
                <p class="pCampInfo"><span th:text="${'Required amount of money: ' + campaign.requiredMoney + '€'}"></span>
                </p>
                <p class="pCampInfo"><span th:text="${'Current amount of money: ' + campaign.currentMoney + '€'}"></span></p>
                <p class="pCampInfo"><span th:text="${'Current number of backers: ' + campaign.numberOfBackers}"></span></p>
                <!-- doar creatorul campaniei poate vedea istoricul tuturor donatiilor -->

            </div>

            <div class="col-md-6" style="float: left;">
                <p class="pCampInfo"><span th:text="${'Creator: ' + campaign.creator.userAccount.firstName + ' ' +
                 campaign.creator.userAccount.lastName}"></span></p>
                <p class="pCampInfo"><span th:text="${'Launch date: ' + campaign.launchDate}"></span></p>
                <p class="pCampInfo" th:if="${daysLeftForDonations != 0}"><span th:text="${'Days left for donations: ' + daysLeftForDonations}"></span></p>

                <p class="pCampInfo">Percentage of funds raised:</p>
                <div class="progress" style="background-color: black;">
                    <div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${progressBarValue}"
                         aria-valuemin="0" aria-valuemax="100" th:style="'width:'+ ${progressBarValue}+'%;'"
                         th:text="${progressBarValue + '%'}">
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="clear:both;">
                <p class="pCampInfo" style="float:left;">Current product's categories:
                    <span th:if="${#arrays.isEmpty(campaign.categories)}">No categories assigned yet!</span>
                    <span th:each="category : ${campaign.categories}" th:text="${category.categoryName} + '; '"></span>
                </p>
            </div>

            <div class="col-md-12" style="margin-top: 20px; clear:both;">
                <p class="pCampInfo">Product description: <span th:text="${campaign.story}" class="lead"></span></p>
            </div>


            <div style="clear: both; margin-bottom:20px;">
                <button type="button" data-toggle="modal" data-target="#donateModal" class="btn btn-success"
                        th:if="${currentUser!=null && isUser == true}"
                        th:disabled="${campaign.completed || canDonate == false || campaign.status == 'closed'}" th:id="donateBtn">Donate
                </button>
                <span th:if="${campaign.completed && canDonate}" style="color:red;">The campaign has reached the deadline! You can't donate anymore!</span>
                <span th:if="${!canDonate && currentUser!=null}" style="color:red;">You can't donate to your own started campaign!</span>
                <span th:if="${campaign.status == 'closed' && isUser == true}" style="color:red;">You can't donate anymore because this campaign is closed!</span>
                <span th:if="${currentUser != null && isUser == false}" style="color:red;">You can't donate because you don't have the role 'User'!</span>
            </div>

            <div style="clear: both;">
                <button type="button" data-toggle="modal" data-target="#donHistoryModal" class="btn btn-success"
                        th:if="${!canDonate && currentUser!=null || isAdmin == true}" th:id="donHistoryBtn">View History of Donations
                </button>
            </div>

            <hr th:if="${!canDonate}" style="margin-top: 10px; margin-bottom: 10px;"/>

            <!-- daca campania curenta nu are fonduri stranse si utilizatorul logat e creatorul acesteia, atunci lui ii este permis sa stearga sau sa editeze
            aceasta campanie -->
            <p th:if="${allowedToDeleteEdit}" style="color:darkblue;">You are allowed to edit and delete this campaign because it has no funds raised yet! </p>

            <button type="button" th:if="${!canDonate && allowedToDeleteEdit}" data-toggle="modal"
                    data-target="#deleteModal" style="margin:10px;" class="btn btn-danger">Delete Campaign
            </button>

            <a th:if="${allowedToDeleteEdit}" th:href="@{${'/editCampaign?campaignId=' + campaign.id}}"
               style="margin:10px;" class="btn btn-danger">Edit Campaign</a>
            <p th:if="${!allowedToDeleteEdit && !canDonate && currentUser!=null}" style="color:red;">You are not allowed to edit or delete this campaign because it has raised money! </p>


            <div class="widget stacked widget-table action-table" th:if="${currentUser != null && canDonate == false}" style="width:100%; margin-top: 5%; margin-bottom: 5%;">
                <div class="widget-header">
                    <h3 style="color:black; font-size: 1.2em; font-weight: bold;">Select categories for this campaign</h3>
                </div>

                <div class="widget-content">
                    <form th:action="@{/changeCategories}" action="/changeCategories" method="post" th:id="changeCategoriesForm">
                        <input type="hidden" name="campaignId" th:value="${campaign.id}">
                        <table class="tableCategories table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="padding-left: 40px;">Category Name</th>
                                    <th class="td-actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${allCategories}">
                                <td style="padding-left: 40px; font-size: 1em; font-weight: bold; color:darkgreen;" th:text="${category.categoryName}"></td>
                                <td style="text-align: center;">
                                    <div class="form-group">
                                        <input type="checkbox" th:name="${category.id}" th:id="${category.id}" autocomplete="off"
                                               th:checked="${#arrays.contains(campaignCategoriesFilteredById, category.id)}"/>
                                        <div class="btn-group">
                                            <label th:for="${category.id}" class="btn btn-success">
                                                <span><i class="fas fa-check"></i></span>
                                                <span> </span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="buttonSubmitWrapper" style="text-align:center;">
                            <button type="submit" class="btn btn-success" style="width:20%; height:20%; font-size: 1.2em; margin-top:40px; margin-bottom: 40px;">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="donateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myDonateModalLabel">How much do you want to donate?</h4>
                </div>

                <div class="modal-body">
                    <p style="font-size: 1em;" class="alert alert-primary" role="alert">To make a donation, you must first complete your profile!</p>
                    <form th:action="@{/donate}" action="/donate" method="post" th:id="donateForm">
                        <input type="hidden" name="campaignId" th:value="${campaign.id}">
                        <div class="form-group fieldCamp">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="amountOfMoney" id="amountOfMoney">
                            </div>
                        </div>
                        <button type="submit" style="display: none;"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" th:id="donateSubmit">Donate!</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
               aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myDeleteModalLabel">Are you sure you want to delete this campaign?</h4>

                <form th:action="@{/deleteCampaign}" action="/deleteCampaign" method="post"
                      th:id="deleteCampaignForm">
                    <input type="hidden" name="campaignId" th:value="${campaign.id}">
                    <button type="submit" style="display: none;"></button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" th:id="deleteCampaignSubmit">Yes</button>
            </div>
        </div>
    </div>
</div>

    <div id="closeCampaignModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myCloseCampaignModalLabel">Are you sure you want to close this campaign?
                                        (donations will be disabled)</h4>

                    <form th:action="@{/closeCampaign}" action="/closeCampaign" method="post" th:id="closeCampaignForm">
                        <input type="hidden" name="campaignId" th:value="${campaign.id}">
                        <button type="submit" style="display: none;"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" th:id="closeCampaignSubmit">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="donHistoryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="donHistoryModalLabel" th:text="${'History of donations for campaign ' + campaign.title}"></h4>
                </div>
                <div class="modal-body">
                    <p th:if="${#arrays.isEmpty(campaignDonations)}" style="color:red; font-size:1em;">There are no donations for this campaign!</p>
                    <p th:each="donation : ${campaignDonations}" th:text="${'Investor: ' + donation.investor.userAccount.firstName + ' ' +
                    donation.investor.userAccount.lastName + ', Amount: ' + donation.amount + ', Date: ' + donation.date}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>